{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="{% static 'css/board/board_form.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'board_list' %}">Boards</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p class="sub-title">💡 여러분의 이야기를 자유롭게 나눠주세요. 어떤 고민이나 어려움이 있으셨나요? 저희가 함께 들어드릴게요!</p>
        <h2>{{ form.instance.pk|yesno:"Edit,Create" }} Board</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </main>
</body>
</html>
