<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
{# 헤더 #}
<section class="top-container">
    <h2>{{ nickname }}님, 반가워요</h2>
    <p class="sub-title">심리적인 안정과 성장을 위한 여정을 시작해보세요.</p>
</section>

{# 도움 되는 아티클 #}
<section class="info-container">
    <div class="info-group">
        <div class="info-tag">
            <p class="tag" data-tag="가면 증후군">가면증후군</p>
            <p class="tag" data-tag="극복">극복</p>
            <p class="tag" data-tag="자기성장">자기성장</p>
            <p class="tag" data-tag="독서추천">독서 추천</p>
        </div>
        {# json 데이터 넣을 곳 #}
        <div class="info-data" id="info-data">
            <!-- 이미지가 동적으로 추가될 곳 -->
        </div>
    </div>
</section>

<main>
    {# 나의 업적 #}
    <section class="achievement-container">
        <p class="home-title">나의 업적</p>
        <div class="achievement-group">
            {% for keyword in keywords %}
                <p class="achievement-tag">{{ keyword }}</p>
            {% endfor %}
        </div>
    </section>

    {# 목표 진행 상황 #}
    <section class="goal-container">
        <div class="goal-header">
            <p class="home-title">목표 진행상황</p>
            <a href="{% url 'goal_list' %}" class="more-link">더보기</a>
        </div>
        <div class="goal-group">
            {% for goal_stat in goal_stats %}
                <div class="goal">
                    <div class="goal-content">
                        <p>{{ goal_stat.goal.goal }}</p>
                        <div class="progress-info">
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ goal_stat.completion_rate|floatformat:0 }}%;"></div>
                            </div>
                            <div class="num">{{ goal_stat.completed_todos }}/{{ goal_stat.total_todos }}</div>
                            <div class="percentage">{{ goal_stat.completion_rate|floatformat:0 }}%</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

<footer>
    <ul>
        <li>
            <a href="{% url 'home' %}" id="home-link">
                <img src="{% static 'images/home-active.svg' %}" alt="Home" id="home-icon">
            </a>
        </li>
        <li>
            <a href="{% url 'daily_log' %}" id="journal-link">
                <img src="{% static 'images/journal.svg' %}" alt="Journal" id="journal-icon">
            </a>
        </li>
        <li>
            <a href="{% url 'goal_list' %}" id="goal-link">
                <img src="{% static 'images/goal.svg' %}" alt="Goal" id="goal-icon">
            </a>
        </li>
        <li>
            <a href="{% url 'board_list' %}" id="board-link">
                <img src="{% static 'images/board.svg' %}" alt="Board" id="board-icon">
            </a>
        </li>
    </ul>
</footer>

<script>
    // View로부터 전달받은 JSON 데이터를 스크립트로 변환
    const data = JSON.parse('{{ data|escapejs }}');

    console.log(data);

    // 태그 요소들 선택
    const tags = document.querySelectorAll('.tag');
    const infoData = document.getElementById('info-data');

    // 각 태그에 클릭 이벤트 추가
    tags.forEach(tag => {
        tag.addEventListener('click', () => {
            // 모든 태그에서 active 클래스 제거
            tags.forEach(t => t.classList.remove('active'));

            // 클릭된 태그에 active 클래스 추가
            tag.classList.add('active');

            console.log(`Tag clicked: ${tag.textContent}`); // 디버깅을 위한 콘솔 로그

            const selectedTag = tag.getAttribute('data-tag');
            const selectedData = data.filter(item => item.tag === selectedTag);

            // info-data 요소의 내용을 지우기
            infoData.innerHTML = '';

            selectedData.forEach(item => {
                const link = document.createElement('a');
                link.href = item.link;
                const img = document.createElement('img');
                img.src = item.img;
                img.alt = item.tag;
                img.classList.add('info-img'); // 클래스 추가
                link.appendChild(img);
                infoData.appendChild(link);
            });
        });
    });

    // 페이지 로드 시 초기 상태 설정
    window.addEventListener('load', () => {
        const initialTag = document.querySelector('.tag[data-tag="가면 증후군"]');
        if (initialTag) {
            initialTag.click(); // 가면증후군 태그를 클릭한 것처럼 동작
        }
    });
</script>

</body>
</html>
