@import url('../public.css');

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.header {
    width: 80%;
    text-align: left;  /* 왼쪽 정렬 */
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    color: #333;
}

.sub-title {
    margin: 0;
    font-size: 16px;
    color: var(--gray3);
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 20px;
}

.achievement-section, .praise-section {
    background: #fff;
}

.achievement-section {
    width: 65%;
    padding-right: 3%;
}

.praise-section {
    width: 35%;
}

form {
    margin: 20px 0;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button img {
    width: 25px;
    height: 25px;
    display: block;
}

.praise-list {
    list-style-type: none;
    padding: 0;
}

.praise-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding-bottom: 10px; /* Optional: Add some padding to space out the content from the border */
}


.praise-item form {
    margin: 0;
}

.info-title {
    font-weight: bolder;
    margin-bottom: 4px;
    color: var(--main-color);
}

input[name="content"] {
    border: 1px solid var(--third-color);
    background-color: var(--third-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
    color: #333;
}

input[name="content"]:focus {
    border-color: var(--main-color);
    outline: none;
}