@import url("../fonts/font.css");

:root {
    --main-color: #734ceb;
    --secondary-color: #C8B8FA;
    --third-color: #F4F1FE;
    --forth-color: #CDE8E5;
    --black: #000;
    --gray1: #7B7B7B;
    --gray2: #808080;
    --gray3: #A9ABB8;
    --gray4: #D7D7D7;
    --white: #FFF;
    --main-font: 'Pretendard-Regular';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

a {
    text-decoration-line: none;
}
footer {
    background-color: var(--white);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0; /* 화면 하단에 고정 */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    z-index: 1000; /* 다른 요소 위에 위치하도록 설정 */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 3%;
}

footer ul li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

footer ul li a img {
    width: 30px;
    height: 30px;
}
