{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/goal/goal_form.css' %}">
    <title>{% if form.instance.pk %}Edit Goal{% else %}New Goal{% endif %}</title>
</head>
<body>

<form method="post" class="goal-form">
    <h2>{% if form.instance.pk %}목표 수정하기{% else %}목표 생성하기{% endif %}</h2>
    {% csrf_token %}
    <div class="form-group">
        {{ form.goal.label_tag }}
        {{ form.goal }}
    </div>
    <button type="submit">OK</button>
</form>
{% block content %}{% endblock %}
{% include './goal_footer.html' %}
</body>
</html>
