{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ goal.goal }}</title>
    <link rel="stylesheet" href="{% static 'css/goal/todo_list.css' %}">
</head>
<body>
<div class="container">
    <div class="goal-content">
        <p class="goal-title">{{ goal.goal }}</p>
        <div class="progress-info">
            <div class="progress-bar">
                <div class="progress" style="width: {{ completion_rate }}%;"></div>
            </div>
            <div class="percentage">{{ completion_rate }}%</div>
        </div>
    </div>
    <form method="post" class="todo-form">
        {% csrf_token %}
        <div class="input-container">
            <input type="text" name="todo" placeholder="목표에 맞는 세부적인 할 일을 작성해주세요!" required>
            <button type="submit"><img src="{% static 'images/plus-icon-main.svg' %}" alt="Add"></button>
        </div>
    </form>
    <ul class="todo-list">
        <div class="todo-num">{{ completed_todos }}/{{ total_todos }}</div>
        {% for todo in todos %}
            <li class="todo-item">
                <div class="left-content">
                    <input type="checkbox" {% if todo.checked %}checked{% endif %}
                           onclick="updateChecked({{ todo.todo_id }}, this.checked)">
                    <span class="{% if todo.checked %}checked{% endif %}">{{ todo.todo }}</span>
                </div>
                <div class="right-content">
                    <a href="{% url 'todo_update' todo.todo_id %}">
                        <img src="{% static 'images/todo-edit-icon.svg' %}" alt="Edit"
                             style="width: 16px; height: 16px;">
                    </a>
                    <a href="{% url 'todo_delete' todo.todo_id %}">
                        <img src="{% static 'images/todo-delete-icon.svg' %}" alt="Delete"
                             style="width: 16px; height: 16px;">
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% block content %}{% endblock %}
{% include './goal_footer.html' %}
<script>
    function updateChecked(todoId, checked) {
        fetch(`/todo/${todoId}/update_checked/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({checked: checked})
        }).then(response => {
            if (!response.ok) {
                alert('Failed to update checked status');
            } else {
                location.reload();
            }
        });
    }
</script>
</body>
</html>
