{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>익명게시판</title>
    <link rel="stylesheet" href="{% static 'css/board/board_list.css' %}">
</head>
<body>

<div class="container">
  <div class="header">
    <h1>익명게시판</h1>
    <p class="sub-title">서로의 이야기를 나누며, 우리 함께 성장해요.</p>
  </div>

  <div class="content">
    <div class="left-content">
      <div class="search-filter">
        <form method="get" action="{% url 'board_list' %}">
          <input type="text" name="q" placeholder="질문 검색" value="{{ request.GET.q }}">
        </form>
        <a href="{% url 'board_filter' 'all' %}" class="{% if request.path == '/boards/filter/all/' %}active{% endif %}">전체</a>
        <a href="{% url 'board_filter' 'waiting' %}" class="{% if request.path == '/boards/filter/waiting/' %}active{% endif %}">답변을 기다리는 질문</a>
        <a href="{% url 'board_filter' 'my_posts' %}" class="{% if request.path == '/boards/filter/my_posts/' %}active{% endif %}">내 게시글</a>
        <a href="{% url 'board_create' %}" class="btn">글 작성하기</a>
      </div>
    </div>

    <div class="right-content">
      <ul>
        {% for board in boards %}
          <li>
            <h4><a href="{% url 'board_detail' board.board_id %}">{{ board.title }}</a></h4>
            <p>{{ board.content|truncatechars:100 }}</p> <!-- 최대 2줄까지 표시 -->
            <p>답변 {{ board.comments.count }}</p>
            <p>{{ board.created_at }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% block content %}{% endblock %}
{% include './board_footer.html' %}
</body>
</html>
